@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

textarea {
    width: 90vw;
    height: 20ex;
}

button {
    margin: 1ex 0ex;
    width: 90vw;
}

input[type="checkbox"] {
    margin-left: 0ex;
}

ul#result {
    margin: 0ex;
    padding: 0ex;
    list-style: none;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table.top tr td {
    vertical-align: top;
}

pre {
    padding: 2ex;
    background-color: whitesmoke;
    font-size: large;
}

.script pre {
    border: 1px outset gray;
    padding: 1ex;
    background-color: transparent;
    font-size: medium;
}

dl dt {
    margin-top: 2ex;
}

dl dd {
    margin-left: 3ex;
}

.table .row {
    margin-top: 2ex;
}

.tree ul {
    margin: 0ex;
    padding: 0ex;
    list-style: none;
}

.tree ul li ul {
    margin: 0ex 0ex 1ex 4ex;
}
 
.tree ul li ul li {
    position: relative;
}
 
.tree ul li ul li:before {
    position: absolute;
    content: "";
    top: -0.2ex;
    left: -2ex;
    width: 1ex;
    height: calc(100% + 1ex);
    border-left: 1px solid gray;
}
 
.tree ul li ul li:last-child:before {
    height: 1.5ex;
}
 
.tree ul li ul li:after {
    position: absolute;
    content: "";
    top: 1.2ex;
    left: -2ex;
    width: 1.5ex;
    border-top: 1px solid gray;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.symbol {
    text-align: center;
}

.number {
    text-align: right;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    textarea {
        width: 50ex;
    }

    button {
        width: auto;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 2ex 0.5ex 0ex;
        vertical-align: top;
    }

}

