@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

nav ul {
    padding-left: 0ex;
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 2ex;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

table {
    border: 1px outset gray;
    border-collapse: collapse;
}

table tr th {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
}

table tr td {
    border: 1px inset gray;
    padding: 0.5ex 1ex;
    vertical-align: top;
}

pre {
    margin: 1ex 0ex;
}

pre.hidden {
    display: none;
}

.error {
    color: red;
}

.symbol {
    text-align: center;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    button {
        width: auto;
    }

}

